.container {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    height: 100vh;
    background: #212427;
    color: aliceblue;
  }
  
  .wrapper {
    display: flex;
    width: 90%;
    max-width: 900px; /* Adjust the max-width as needed */
    flex-direction: column;
    align-items: center; /* Center items horizontally */
  }
  
  .cartItemQuantity,
  .claimItemTotal {
  margin: 0 5px;
}
  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .cartItems {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .cartItem {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    gap: 30px;
    font-size: large;
    font-weight: bold;/* Add some spacing between items */
  }
  
  .cartItemImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .cartTotal {
    font-size: x-large;
    font-weight: bold;
    text-align: right;
    margin-top: 20px; /* Add some spacing at the top */
  }
  
  .buyBtn {
    border-radius: 5px;
    margin-top: 20px; /* Add some spacing at the top */
  }

  .cartItemImg{
    width: 100%;
    height: 100%;
    max-width: 100px;
}

.cartItemWrapper{
    display: flex;
    flex-direction: column;
}

.cartItemTop{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartItemTitle {
  flex-grow: 1;
  margin: 0;
}